body {
    font-family: 'Verdana', sans-serif;
    margin: 0rem;
    padding: 0rem;
    background-color: $second-color;
}

.grid-main-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-row: 100%;
  grid-row-gap: 1rem 0rem;
  grid-template-columns: 100%;
  min-width: 100%;
}

.banner-wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
  
  .banner-img {
    margin: 0rem;
    padding: 0rem;
    max-width: 100%;
  }

  .title-text-1 {
    position: absolute;
    top: 0rem;
    left: 0rem;
    margin: 0rem 0rem;
    padding: 0.9rem 0.9rem;

    background-color: $second-color;
    border-radius: 0px 0px 30px 0px;

    font-family: 'TibetRegular';
    font-weight: bold;
    font-style: bold;
    font-size: 1.3rem;
    color: $primary-color;
    text-align: left;
  }

  .title-text-2 {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    margin: 0rem 0rem;
    padding: 0.9rem 0.9rem;

    background-color: $second-color;
    text-align: left;

    border-radius: 0px 30px 0px 0px;
    font-family: 'TibetRegular';
    font-weight: bold;
    font-style: bold;
    font-size: 1.3rem;
    color: $primary-color;
  }

  .photo-credit {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    padding: 0.1rem 0.4rem;

    background-color: $credit-color;
    font-size: 0.5rem;
    font-family: 'TibetRegular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
  }

  a:link, a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover, a:active {
    background-color: rgba(black, 0.9);
    color: lighten($primary-color, 30%);
    font-size: 0.7rem;
    text-decoration: underline;
    font-weight: bold;
    padding: 1rem 1rem;
  }
}


.banner2-wrapper {
  color: $primary-color;
  text-align: center;
  font-family: 'TibetRegular';
  padding: 1rem;

  a {
    color: lighten($primary-color, 30%);
    text-decoration: none;
    a:hover {
      font-size: 15rem;
    };
  };
}

.banner3-wrapper {
  display: flex;
  
  .banner3-img {
    margin: 0rem;
    padding: 0rem;
    max-width: 90%;
    max-height: 70%;
  }
}

.video-wrapper {
  max-width: 100%;
  margin: 2rem auto;
  
  .video-iframe {
    max-width: 100%;
    min-width: 80%;
    max-height: 100%;
    min-height: 80%;
  }
}

section#contact {
   p {
    margin: 3rem auto;
    padding: 1rem 5rem;
    text-align: center;


    font-family: 'TibetRegular';
    font-weight: bold;
    font-style: bold;
    font-size: 1rem;
    color: lighten($primary-color, 30%);
    text-align: left;
 }
}

form {
  margin: 3rem auto;
  padding: 1rem 5rem;
  color: $primary-color;


  font-family: 'TibetRegular';
  font-weight: bold;
  font-style: bold;
  font-size: 1rem;
  color: $primary-color;
  text-align: left;

  input, label, textarea {
    margin: auto;
    padding: 0.3rem;
    width: 75%;
    min-width: 15rem;

    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */ 
      -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
        box-sizing: border-box;
  }
  textarea {
    min-height: 10rem;
  }
}

footer {
  text-align: center;
  background-color: $second-color; 
  color: $primary-color;
  font-size: 1rem;
  margin: 0rem;
}

@media screen and (min-width: 440px) {
  .title-text-1 {
    font-size: 1.6rem;
  }
  .title-text-2 {
    font-size: 1.4rem;
  }

  .banner {
    .photo-credit {
      padding: 0.1rem 0.9rem;
    }
    a:link {
      font-size: 0.7rem;
    }
  }
  
  form {
    input, label, textarea {
      min-width: 18rem;
    }
  }
}

@media screen and (min-width: 510px) {
  .title-text-1 {
    font-size: 1.8rem;
  }
  .title-text-2 {
    font-size: 1.6rem;
  }

  form {
    input, label, textarea {
      min-width: 24rem;
    }
  }
}

@media screen and (min-width: 620px) {
  .title-text-1 {
    font-size: 2.2rem;
  }
  .title-text-2 {
    font-size: 2rem;
  }

  .contact-form {
    padding: 2rem 4rem;
  }

  form {
    input, label, textarea {
      max-width: 30rem;
    }
  }
}

@media screen and (min-width: 1023px) {
  .title-text-1 {
    font-size: 4rem;
  }
  .title-text-2 {
    font-size: 3.8rem;
  }

  .banner-wrapper {
    margin: 0rem auto;
  }
}


#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      5px;
  column-count:         3;
  column-gap:           5px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
