
{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  
    <div class="banner-wrapper">
        <h1 class="title-text-1">{{ this.title }}</h1>
        <h2 class="title-text-2">{{ this.subtitle }}</h2>
        <a href="http://lamiavia.net" class="photo-credit"><p>Photo by: Peter Jones</p></a>
    </div>

    <div class="banner2-wrapper">
      <h3>Circus Street Shows in Danish, English, Portuguese, Esperanto or Spanish</h3>
      <a href="#contact">Contact me</a>
    </div>


    <div class="video-wrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/3hknjcZxlto" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div id="like_button_container"></div>
    </div>



    <div class="photos-wrapper">
      <!-- {% set img4 = this.attachments.images.get('streetshow-ballon-circus.jpg') %} -->
      {% set img5 = this.attachments.images.get('streetshow-clubs-balancing.jpg') %}
      {% set img6 = this.attachments.images.get('streetshow-unicycle-volunteers.jpg') %}
      {% set img10 = this.attachments.images.get('streetshow-unicycle-climbing.jpg') %}
      {% set img11 = this.attachments.images.get('streetshow-unicycle-climbing2.jpg') %}
      {% set img12 = this.attachments.images.get('streetshow-unicycle-climbing3.jpg') %}
      {% set img2 = this.attachments.images.get('streetshow-clubs.jpg') %}
      {% set img3 = this.attachments.images.get('streetshow-balls.jpg') %}
      {% set img7 = this.attachments.images.get('streetshow-ballon-circus2.jpg') %}
        <!-- <img loading="lazy" class="banner2-img" src="{{ img4|url }}" alt="Streetshow: circus with ballons, knives and ball. By Peter Jones - lamiavia.net"> -->
        <img loading="lazy" class="banner2-img" src="{{ img5|url }}" alt="Streetshow: club balance. By Peter Jones - lamiavia.net">
        <img loading="lazy" class="banner2-img" src="{{ img6|url }}" alt="Streetshow: unicycle and volunteers. By Peter Jones - lamiavia.net">
        <img loading="lazy" class="banner2-img" src="{{ img10|url }}" alt="Streetshow: unicycle climbing 1. By Peter Jones - lamiavia.net">
        <img loading="lazy" class="banner2-img" src="{{ img11|url }}" alt="Streetshow: unicycle climbing 2. By Peter Jones - lamiavia.net">
        <img loading="lazy" class="banner2-img" src="{{ img12|url }}" alt="Streetshow: unicycle climbing 3. By Peter Jones - lamiavia.net">
        <img loading="lazy" class="banner2-img" src="{{ img2|url }}" alt="Streetshow: juggling with clubs. By Peter Jones - lamiavia.net">
        <img loading="lazy" class="banner2-img" src="{{ img3|url }}" alt="Streetshow: juggling with balls. By Peter Jones - lamiavia.net">
        <img loading="lazy" class="banner2-img" src="{{ img7|url }}" alt="Streetshow: circus with ballons, knives and ball2. By Peter Jones - lamiavia.net">
    </div>


    <div class="photos2-wrapper">
      {% set img1 = this.attachments.images.get('streetshow-unicycle-and-knives.jpg') %}
      {% set img9 = this.attachments.images.get('streetshow-unicycle-and-crowd.jpg') %}
        <img loading="lazy" src="{{ img1|url }}" alt="Streetshow: unicycle and knives. By Peter Jones - lamiavia.net">
        <img loading="lazy" src="{{ img9|url }}" alt="Streetshow: unicycle and crowd. By Peter Jones - lamiavia.net">
    
    </div>


    <div class="video-wrapper">
        <iframe width="560" height="315" src="" data-src="https://www.youtube.com/embed/unvpgihb5Ko" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


    <section id="contact">
   
      <p>Give me a call at +45 5280 3639, or either fill the form below or send me an e-mail at info@eliasrodrigo.com</p>

      <form action="https://formspree.io/info@eliasrodrigo.com" method="POST">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name"> 
        <br>
        <label for="email">E-mail</label>
        <br>
        <input type="email" name="_replyto">
        <br>
        <label for="message">Message</label>
        <br>
        <textarea name="message" placeholder="Your Message" required=""></textarea>
        <br>
        <input type="submit" value="Send">
      </form>
      
    </section>
{% endblock %}
