<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Full time juggler, circus artist, busker and streetperformer. Juggling to change the gravity of the reality." />
    <title>{% block title %}{{ this.title }}{% endblock %}</title>

    <link href="{{ '/static/style.css'|url }}" rel="stylesheet" />

    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/gidole-regular" type="text/css"/> 
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/unique" type="text/css"/> 

    <!-- H2 title -->
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/tibet" type="text/css"/> 

</head>
<body>

<div class="grid-main-wrapper">

    {% block body %}{% endblock %}
      
    <footer>
      <p>
      +45 5280 3639<br>info@eliasrodrigo.com<br>2009-2019.

     </p> 
    </footer>
</div> <!-- container -->

  <script> function init() {
    var vidDefer = document.getElementsByTagName('iframe');
    for (var i=0; i<vidDefer.length; i++) {
    if(vidDefer[i].getAttribute('data-src')) {
    vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
    } } }
    window.onload = init;
  </script> 

  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <!-- Load our React component. -->
  <script src="{{ '/static/like_button.js'|asseturl }}"></script>

 
</body>


</html>
