// Wrap
  .wrap {
    height: 100vh;
    display: flex;
    overflow: scroll;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
  }

.wraptainer {
   margin-top: $header-margin;   
}

// Header
#header {
    padding: 0.9375rem 0;
    background-color: $header-color;
    z-index: 5;
}

.header-logo:hover {
    opacity:.9;
}

ul > .header-nav > a {
    color: $header-link-color;
}

ul > .header-nav > a:hover {
    color: $headers-color; 
}


ul > .header-nav > a:visited {
    color: $header-link-color;
}

.site-header .menu .active > a {
    background-color: $header-active-link-color;
    color: $header-link-color;
}

.social-container {
    margin: 0;
    list-style-type: none;
    padding-top: 10px;
}

// Containers
.content_container {
    flex: 1;
    overflow: scroll;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    background-color: $content-bgcolor;
}

.biopic {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px;
    padding-left: 1em;
}

.bio {
    padding-top: 2em;
}

.recent-posts {
    font-size: 0.8rem;
}

// Pages
.page-content {
    padding: 0 1.2rem 1.2rem 1.2rem;
}

.page-heading {
    font-size: 20px;
}

.sidebar {
    order: 2;
    background-color: $sidebar-color;
}


.sidebar h2 {
    text-transform: uppercase;
}

.sidebar ul li {
    padding: 0 0 1rem 0; 
    font-size: 30px;  
}

.roll {
    margin-bottom: 2.5rem;
}

.langs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 99%;
    text-transform: uppercase; 
    background-color: $sidebar-langs-color;
}

.langs li a {
    display: block;
    color: #375959;
    padding: 8px 16px;
    padding-left: 2px;
    text-decoration: line-through;
    text-align: left;
    font-size: 22px;
}

.langs li a:hover {
    background-color: $sidebar-lang-color;
    color: white;
    font-size: 26px;
    text-decoration: underline;
}

.langs li a:active {
    font-size: 24px;
}

.en:lang(en), .pt:lang(pt), .da:lang(da) {
    font-size: 22px;
    color: #13002C;
    font-weight: bold;
    background-color: $sidebar-lang-color;
    color: white;
    text-decoration: none;
}

// footnotes

.footnotes {
    text-align: left;
    font-size: 14px;
    margin-top: 60px;
    padding: 15px;
    background-color: #181818;
    li {
	margin: 15px;
       }
}

// Posts

.post-title {
    font-family: 'BinzMedium';
    font-size: 4em;
    font-style: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
  margin: 0 30px 30px 30px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    font-style: italic;
    color: lighten($complimentary-color, 35%);
    margin-bottom: 1rem;
}

.post-link {
    display: block;
    font-size: 34px;
    line-height: 1.2rem;
    color: $headers-color;
}

.footerp {
    text-align: center;
    padding: 20px;
}

.previous-link {
    text-align: left;
    font-family: 'BinzMedium';
    font-style: bold;
    font-size: 45px;
}

.next-link {
    text-align: right;
    font-family: 'BinzMedium';
    font-style: bold;
    font-size: 45px;
    float: right;
}
