// Base Colors
$primary-color: #010202;
$secondary-color: #aaa;
$complimentary-color: #ECF4DD;
$body-bg: #E5D8C8;
$content-bgcolor: #1F1F1F;
$body-font-color: #AAA;

// Links
$link-color: lighten($primary-color, 50%);
$link-hover-color: lighten($link-color, 15%);
$link-visited-color: lighten($link-color, 25%);

// Text
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 1.0em;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$descrip-bkgr: #2B2B2B;
$descrip-color: #F9F9F9;

// Header Settings
$header-color: $primary-color;
$header-link-color: #ECF4DD;
$header-link-hover-color: $complimentary-color;
$header-link-visted-color: $link-color;
$header-active-link-color: #6f77c2;

// Headers  --- H1 H2 H3 H4
$headers-color-background: #0F0F0F; 
$headers-color: #AAAAAA;

// Sidebar Settings
$sidebar-color: lighten($primary-color, 5%);
$sidebar-langs-color: #131717;
$sidebar-lang-color: #0E1515; 

// Mobile Navbar Settings
$navbar-height: 0px;
$navbar-color: lighten($primary-color, 15%);
$navbar-text-color: $secondary-color;
$navbar-hover-color: $complimentary-color;
$navbar-active-color: lighten($primary-color, 10%);
$navbar-font-size: 13px;
$navbar-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$hamburger-icon-color: $complimentary-color;


// Socials Navbar Settings
$socials-font-color: $complimentary-color;
$socials-font-size: 1.5em;

// Gallery Lightbox Pop-Up
$lightbox-background-color: rgba(0, 0, 0, 0.95);
$lightbox-border-color: $complimentary-color;
$lightbox-description-background-color: rgba(254, 254, 254, 0.8);
$lightbox-description-text-color: black;
$lightbox-caption-text-color: $complimentary-color;
$lightbox-navigation-color: $complimentary-color;


// Utility
$spacing-unit: 30px;

// Layout Settings
$header-margin: 2rem;

// Buttons
$button-color: #6f77c2;
$button-hover: #494d7a;
$button-text-color: #fff;
