// palette
$color1 = #F7F4F4
$color2 = #1F131E
$color3 = #29524A
$color4 = #06070E
$color5 = #94A187
// colors
$accentColor = #06070E
$textColor = #1F131E
$borderColor = darken(#F7F4F4, 10%)
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$allBg = #F7F4F4

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

$MQTabletNarrowW = 760px
$MQTabletNarrowH = 1000px

$MQLaptop = 1400px
