{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  
    <div class="banner-wrapper">
        {% set image = this.attachments.images.get('streetshow-fromabove.jpg') %}
        <img src="{{ image|url }}" alt="By Peter Jones - lamiavia.net" class="banner-img">
        <h1 class="title-text-1">{{ this.title }}</h1>
        <h2 class="title-text-2">{{ this.subtitle }}</h2>
        <a href="http://lamiavia.net" class="photo-credit"><p>Photo by: Peter Jones</p></a>
    </div>

    <div class="banner2-wrapper">
      <h3>Circus Street Shows in Danish, English, Portuguese, Esperanto or Spanish</h3>
      <a href="#contact">Contact me</a>

      <div class="lang-menu">
        <span class="lang-item">English</span>
        <span class="lang-item">Dansk</span>
        <span class="lang-item">Português</span>
      </div>
    </div>


    <section id="contact">
   
      <p>Give me a call at +45 5280 3639, or either fill the form below or send me an e-mail at info@eliasrodrigo.com</p>

      <form action="https://formspree.io/info@eliasrodrigo.com" method="POST">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name"> 
        <br>
        <label for="email">E-mail</label>
        <br>
        <input type="email" name="_replyto">
        <br>
        <label for="message">Message</label>
        <br>
        <textarea name="message" placeholder="Your Message" required=""></textarea>
        <br>
        <input type="submit" value="Send">
      </form>
      
    </section>
{% endblock %}
