{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  
    <div class="banner-wrapper">
        {% set image = this.attachments.images.first() %}
        <img src="{{ image|url }}" alt="By Peter Jones - lamiavia.net" class="banner-img">
        <h1 class="title-text-1">{{ this.title }}</h1>
        <h2 class="title-text-2">{{ this.subtitle }}</h2>
        <a href="http://lamiavia.net" class="photo-credit"><p>Photo by: Peter Jones</p></a>
    </div>

    <div class="video-wrapper">
        <iframe class="video-iframe" width="560" height="315" src="" data-src="https://www.youtube.com/embed/unvpgihb5Ko" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


      <form action="https://formspree.io/info@eliasrodrigo.com" method="POST">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name"> 
        <br>
        <label for="email">E-mail</label>
        <br>
        <input type="email" name="_replyto">
        <br>
        <label for="message">Message</label>
        <br>
        <textarea name="message" placeholder="Your Message" required=""></textarea>
        <br>
        <input type="submit" value="Send">
      </form>
      
{% endblock %}
