---
layout: default
sidebar: "language_bar"
---
<article class="small-12 columns">

    <header class="columns wraptainer">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>
    <div class="columns">
      <div class="page-content">
        {{ content }}
      </div>
      {% if page.next_in_category != nil %}
	    <a href="{{page.next_in_category.url}}" class="next-link">next</a>
	{% endif %}
	{% if page.previous_in_category != nil %}
	    <a href="{{page.previous_in_category.url}}" class="previous-link">previous</a>
	{% endif %}
    </div>
</article>

  {% include footer.html %}

