body {
  font-family: "Verdana", sans-serif;
  margin: 0rem;
  padding: 0rem;
  background-color: #442e16;
}

.grid-main-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-row: 100%;
  grid-row-gap: 1rem 0rem;
  grid-template-columns: 100%;
  min-width: 100%;
}

.banner-wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.banner-wrapper .banner-img {
  margin: 0rem;
  padding: 0rem;
  max-width: 100%;
}
.banner-wrapper .title-text-1 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  margin: 0rem 0rem;
  padding: 0.9rem 0.9rem;
  background-color: #442e16;
  border-radius: 0px 0px 30px 0px;
  font-family: "TibetRegular";
  font-weight: bold;
  font-style: bold;
  font-size: 1.3rem;
  color: #cb9f7a;
  text-align: left;
}
.banner-wrapper .title-text-2 {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  margin: 0rem 0rem;
  padding: 0.9rem 0.9rem;
  background-color: #442e16;
  text-align: left;
  border-radius: 0px 30px 0px 0px;
  font-family: "TibetRegular";
  font-weight: bold;
  font-style: bold;
  font-size: 1.3rem;
  color: #cb9f7a;
}
.banner-wrapper .photo-credit {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  padding: 0.1rem 0.4rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0.5rem;
  font-family: "TibetRegular";
  font-weight: normal;
  font-style: normal;
  text-align: center;
}
.banner-wrapper a:link, .banner-wrapper a:visited {
  color: white;
  text-decoration: none;
}
.banner-wrapper a:hover, .banner-wrapper a:active {
  background-color: rgba(0, 0, 0, 0.9);
  color: #f6eee8;
  font-size: 0.7rem;
  text-decoration: underline;
  font-weight: bold;
  padding: 1rem 1rem;
}

.banner2-wrapper {
  color: #cb9f7a;
  text-align: center;
  font-family: "TibetRegular";
  padding: 1rem;
}
.banner2-wrapper a {
  color: #f6eee8;
  text-decoration: none;
}
.banner2-wrapper a a:hover {
  font-size: 15rem;
}

.banner3-wrapper {
  display: flex;
}
.banner3-wrapper .banner3-img {
  margin: 0rem;
  padding: 0rem;
  max-width: 90%;
  max-height: 70%;
}

.video-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  padding: 0.5rem;
}
.video-wrapper iframe {
  display: flex;
  align-self: center;
  justify-self: center;
  max-width: 100%;
  max-height: 80%;
}

.photos-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(9, 13rem);
  justify-content: center;
  grid-row-gap: repeat(9, 0.5rem);
}
.photos-wrapper img {
  justify-self: center;
  max-width: 100%;
  max-height: 100%;
}

.photos2-wrapper {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 1rem;
}
.photos2-wrapper img {
  max-width: 100%;
}

section#contact {
  display: grid;
}
section#contact p {
  margin: 3rem auto;
  padding: 1rem 5rem;
  text-align: center;
  font-family: "TibetRegular";
  font-weight: bold;
  font-style: bold;
  font-size: 1rem;
  color: #f6eee8;
  text-align: left;
}

form {
  margin: 3rem auto;
  padding: 1rem 5rem;
  color: #cb9f7a;
  font-family: "TibetRegular";
  font-weight: bold;
  font-style: bold;
  font-size: 1rem;
  color: #cb9f7a;
  text-align: left;
}
form input, form label, form textarea {
  margin: auto;
  padding: 0.3rem;
  width: 75%;
  min-width: 15rem;
  -webkit-box-sizing: border-box;
  /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box;
  /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}
form textarea {
  min-height: 10rem;
}

footer {
  text-align: center;
  background-color: #442e16;
  color: #cb9f7a;
  font-size: 1rem;
  margin: 0rem;
}

@media screen and (min-width: 440px) {
  .title-text-1 {
    font-size: 1.6rem;
  }

  .title-text-2 {
    font-size: 1.4rem;
  }

  .banner .photo-credit {
    padding: 0.1rem 0.9rem;
  }
  .banner a:link {
    font-size: 0.7rem;
  }

  form input, form label, form textarea {
    min-width: 18rem;
  }
}
@media screen and (min-width: 510px) {
  .title-text-1 {
    font-size: 1.8rem;
  }

  .title-text-2 {
    font-size: 1.6rem;
  }

  form input, form label, form textarea {
    min-width: 24rem;
  }
}
@media screen and (min-width: 620px) {
  .title-text-1 {
    font-size: 2.2rem;
  }

  .title-text-2 {
    font-size: 2rem;
  }

  .contact-form {
    padding: 2rem 4rem;
  }

  form input, form label, form textarea {
    max-width: 30rem;
  }
}
@media screen and (min-width: 1023px) {
  .title-text-1 {
    font-size: 4rem;
  }

  .title-text-2 {
    font-size: 3.8rem;
  }

  .banner-wrapper {
    margin: 0rem auto;
  }

  section#photos {
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 70% 70% 70%;
    grid-row-gap: 1rem;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    align-items: stretch;
  }
  section#photos img {
    justify-self: stretch;
  }
}
/* Prevent vertical gaps */
.grid-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100% 100%;
  align-items: center;
  align-content: stretch;
  background-color: #fcf9f6;
  border: solid;
}
.grid-wrapper .gwc {
  border: solid;
}

/*# sourceMappingURL=style.css.map */
